/*@import url("custom-theme/jquery-ui-1.8.23.custom.css");*/
/*@import url("ui-darkness/jquery-ui-1.8.23.custom.css") all, screen;*/

html, body
{
 margin : 0px;
 padding: 0px;
 height : 100%;
}
.canvas
{
 height      : 100%;
/* margin-right: 15%;*/
}
.panel
{
 height  : 100%;
 float   : right;
/* width   : 15%;*/
 overflow: auto;
}
.hidden
{
/* visibility: hidden;*/
 display   : none;
}
